[Desktop Entry]
Name=Startup Disk
Comment=Choose the startup volume
Exec=pkexec startup-disk
Icon=org.startup_disk.StartupDisk
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;X-GNOME-Utilities;
StartupNotify=true
StartupWMClass=startup-disk
