[Desktop Entry]
Name=Startup Disk
Exec=pkexec startup-disk
Icon=org.gnome.StartupDisk
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
